[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=zal
Group=zal
WorkingDirectory=/home/zal/app/src/
Environment="PATH=/home/zal/app/venv/bin"
EnvironmentFile=/home/zal/.env
ExecStart=/home/zal/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target